<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" routerLink="home">
        <img src="./assets/images/freshcart-logo.svg" alt="LogoApp">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between align-items-center" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0">
        
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active-link"   routerLink="home" >{{"navbar.home"|translate}}</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link" routerLink="products" >{{"navbar.products"|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active-link"routerLink="categories" >{{"navbar.categories"|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   routerLinkActive="active-link" routerLink="prands" >{{"navbar.brands"|translate}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"   routerLinkActive="active-link" routerLink="wishlist" >{{"navbar.wishlist"|translate}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"   routerLinkActive="active-link" routerLink="allorders" >{{"navbar.all orders"|translate}}</a>
          </li>
         
  
        </ul>

    


        <ul class="navbar-nav  mb-2 mb-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{"navbar.lang"|translate}}
            </a>
            <ul class="dropdown-menu">
              <li><a [class.bg-info]="_TranslateService.currentLang=='en'" (click)="selectlangugue('en')" class="dropdown-item cr">English</a></li>
              <li><a [class.bg-info]="_TranslateService.currentLang=='ar'" (click)="selectlangugue('ar')"  class="dropdown-item cr">Arabic</a></li>
  
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link mx-2" routerLinkActive="active-link" routerLink="cart" >
              <span class="position-relative">
                <i class="fa-solid fa-cart-shopping "></i>
                <span class="badge position-absolute -top-0 -start-0 bg-danger">{{numercartuser()}}</span>
              </span>

            </a>
          </li>
        
            <li class="nav-item">
              <a class="nav-link">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link">
                  <i class="fa-brands fa-twitter"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
              </li>

    

              <li class="nav-item">
                <a class="nav-link">
                  <i class="fa-brands fa-tiktok"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link">
                  <i class="fa-brands fa-youtube"></i>
                </a>
              </li>

              <li class="nav-item">
                <a (click)="signOutt()" class="nav-link cr">
                  {{"navbar.signout"|translate}}
                </a>
              </li>
  
           
    
        </ul>

      </div>
    </div>
  </nav>